<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"href="{{ url_for('static', filename='css/style.css') }}">
  <link href="{{ url_for('static', filename='img/favicon.ico')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">
  <title>Add Vehicle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
body{
  background-image: url("https://coolbackgrounds.io/images/backgrounds/black/pure-black-background-f82588d3.jpg");
}
</style>
<body>
  <br>
  <br><br>
   <table id="t1" border="1" width="10%" align="center">
             <tr style="background-color:red;">
                <td class="b1"><a id="a1" href="/entry">Home</a></td>
             </tr>
     </table>
<div class="serif" style="background-color: black;">
<h1 id="h1" style="text-align: center; color:red; font-weight: bold;">ADD VEHICLE</h1></div>
<br>
 <div class="container-fluid">  
 <div class="row-md row-sm row-xs">
  <div class="col-md-12 div-style1">
  <div>
   <center>
    <font size="4" style="color: grey;">
    <form action="/add" method="post">
  
    <br>
    Vehicle Number<br>
    <input type="text" name="number">
    <br>
    <br>
    Driver Name<br>
    <input type="text" name="name">
    <br>
    <br>
    <input  style="background:red; color: black;"type="submit" value="Submit">
  </form>
  </font>
</center>
</div>
</div>
</div>
</div>
</body>
</html>
