<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet"href="{{ url_for('static', filename='css/style.css') }}">
  <link href="{{ url_for('static', filename='img/favicon.ico')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">
	<title>Login-Page</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
body{
	background-image: url("https://coolbackgrounds.io/images/backgrounds/black/pure-black-background-f82588d3.jpg");
}
</style>
<body>
	<br>
	<br><br>
	 <table id="t1" border="1" width="10%" align="center">
             <tr style="background-color:red;">
                <td class="b1"><a id="a1" href="/">Home</a></td>
             </tr>
     </table>
<div class="serif" style="background-color: black;">
<h1 id="h1" style="text-align: center; color:red; font-weight: bold;">LOGIN</h1></div>
<br>
 <div class="container-fluid">  
 <div class="row-md row-sm row-xs">
  <div class="col-md-12 div-style1">
    <div>
   <center>
    <font size="4" style="color: black;">
    <form action="/entry" method="post">
    Username:<br>
    <input type="text" name="userid"placeholder="Username"style="color: black;">
    <br>
    <br>
    Password:<br>
    <input type="password" name="password"placeholder="Password">
    <br>
    <br>
    Choose Slot:<br>
    <select name="slot" style="color: black;"placeholder="select">
    
    <option value="Day" >Day</option>
    <option value="Night" >Night</option>
    </select>
    <br>
    <br>
    <input  style="background:red; color: black;"type="submit" value="Login">
  </form>
  </font>
</center>
</div>
</div>
</div>
</div>

</body>
</html>
